/* Основные стили */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: #333;
    color: white;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff6347;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    flex: 1;
}

button, .btn {
    background-color: #ff6347;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover, .btn:hover {
    background-color: #ff4500;
    transform: scale(1.05);
}

.product-item {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.footer p {
    margin: 0;
}

/* Фиксируем футер только на главной странице */
body.home footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

/* Стили для кнопки "В корзину" на странице продуктов */
.cart-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.cart-button:hover {
    background-color: #ff4500;
    transform: scale(1.05);
}
.lin{
    text-decoration: none;
    color: #666;
}

/* Стили для Интпутов*/

.text-field__input {
  display: block;
  width: 70%;
  height: calc(1rem + 2px);
  padding: 0.375rem 0.75rem;
  margin-left: 35px;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
  }
